/* Fonts */

/* font-family: 'Raleway', sans-serif; */

/* Preset */

.pad1 {
  padding: 7% 15%;
}

body {
  background-color: white;
  width: auto;
  height: auto;
}

.Logo {
  height: 40%;
  width: 50%;
}

.padnav {
  padding: 1.5rem 15% 0;
}

.navbardark {
  background-color: black;
}

.navfont {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
}

.padnav1{
  padding-left: 5rem;
  padding-right: 5rem;
}

/* MEDIA QUERIES */

/* TEst */
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {

.Logo1 {
  padding-top: 2rem;
  text-align: center;
}

.padnav1 {
  text-align: center;
}

}
